<template>
  <div id="app">
    <v-app>
      <page-header />
      <main>
        <v-container fluid>
          <router-view>
          </router-view>
        </v-container>
      </main>
      <page-footer />
    </v-app>
  </div>
</template>

<script>
import PageHeader from '@/components/Header.vue'
import PageFooter from '@/components/Footer.vue'
export default {
  name: 'app',
  components: {
    PageHeader,
    PageFooter
  }
}
</script>

<style>
ul{
  list-style-type:none;
  align-items: left;
}
#app {
  font-family: 'ABeeZee';
  color:#33691E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color:white;
}
p {
  color: #757575;
}
h1 {
  color:#33691E;
}

#layoutForm{
    margin-top: 120px;
    margin-bottom: 150px;
}
</style>
