<template>
<v-layout id="layoutForm" row>
    <v-flex class="my-3">
      <recipes-search-panel>
      </recipes-search-panel>
      <recipe-panel>
      </recipe-panel>
    </v-flex>
  </v-layout>
</template>

<script>
import RecipesSearchPanel from './RecipesSearchPanel'
import RecipePanel from './RecipePanel'

export default {
  components: {
    RecipePanel,
    RecipesSearchPanel
  },
  data () {
    return {
      recipes: []
    }
  }
}
</script>
<style scoped>
.headline{
  color: #33691E;
   font-family: 'Comfortaa', cursive;
}

.recipe{
  margin: 10px;
  font-family: 'Comfortaa', cursive;
  width: 300px;
}

</style>
