<template>
       <panel>
           <v-data-iterator
            :items="recipes"
            :rows-per-page-items="rowsPerPageItems"
            :pagination.sync="pagination"
            content-tag="v-layout"
            row
            wrap
          >
            <v-flex
              slot="item"
              slot-scope="props"
              xs12
              sm6
              md4approved
              lg3
            >
            <v-card class="recipe" :to="{ name: 'recipe',  params: { recipeId: props.item.id }}">
              <v-card-media
                class="album-image" :src="props.item.pictureURL"
                height="200px">
              </v-card-media>
              <v-card-title primary-title>
                <div id="body">
                  <div class="headline">{{props.item.title}}</div>
                  <br>
                  <span class="grey--text">Cuisine: {{props.item.cuisine}}<br>Chef: {{props.item.chef}}<br>Calories: {{props.item.calories}}</span>
                </div>
              </v-card-title>
            </v-card>
          </v-flex>
        </v-data-iterator>
      </panel>
</template>

<script>
import RecipesService from '@/services/RecipesService'

export default {
  data () {
    return {
      recipes: [],
      rowsPerPageItems: [5, 10, 20],
      pagination: {
        rowsPerPage: 20
      }
    }
  },
  watch: {
    '$route.query.search': {
      immediate: true,
      async handler (value) {
        this.recipes = (await RecipesService.index(value)).data
      }
    }
  }
}
</script>
<style scoped>
#body{
  height: 200px;
  overflow: hidden;
}

.recipe{
  margin: 10px;
  font-family: 'Comfortaa', cursive;
  color: grey;
  font-size: 14px;
  width: 300px;
}

</style>
