<template>
<v-layout child-flex id="layoutForm">
   <v-card>
      <v-card-title>
       <h2>HeyVeggie - Article Comments</h2>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="searcharticle"
          append-icon="search"
          label="Search between comments"
          single-line
          hide-details>
        </v-text-field>
      </v-card-title>
      <br>
      <v-data-table
        id="articleTable"
        :headers="headers"
        :items="articleComments"
        :search="searcharticle"
        class="elevation-1">
        <template slot="items" slot-scope="props">
          <td class="text-xs-left">
            <v-btn flat :to="{ name: 'article',  params: { articleId: props.item.articleId }}">
              {{ props.item.title }}
            </v-btn>
          </td>
          <td class="text-xs-left">
               <v-btn flat :to="{ name: 'article',  params: { articleId: props.item.articleId }}">
               {{props.item.comment}}
             </v-btn>
         </td>
          <td class="text-xs-left">{{ props.item.email }}</td>
           <td class="text-xs-left"> {{props.item.createdAt  | moment("MMMM Do, h:mm")}}</td>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ seracharticle }}" found no results.
        </v-alert>
      </v-data-table>
      <br><br><br>
      <v-spacer></v-spacer>
      <v-card-title>
        <h2>HeyVeggie - Recipe Comments</h2>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search between comments"
          single-line
          hide-details>
        </v-text-field>
      </v-card-title>
      <br>
      <v-data-table
        id="recipeTable"
        :headers="headers"
        :items="recipeComments"
        :search="search"
        class="elevation-1">
        <template slot="items" slot-scope="props">
          <td class="text-xs-left">
            <v-btn flat :to="{ name: 'recipe',  params: { recipeId: props.item.recipeId }}">
              {{ props.item.title }}
            </v-btn>
          </td>
          <td class="text-xs-left">
               <v-btn flat :to="{ name: 'recipe',  params: { recipeId: props.item.recipeId }}">
                {{props.item.text}}
               </v-btn>
          </td>
          <td class="text-xs-left">{{ props.item.email }}</td>
          <td class="text-xs-left"> {{props.item.createdAt  | moment("MMMM Do, h:mm")}}</td>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
          <!-- <div v-for="recipe in recipes" :key="recipe.id">
            <div v-for="comment in recipeComments" :key="comment.id" v-if="recipe.id === comment.recipeId">
                  {{ recipe.title }}
                  {{comment.text}}
                  {{ comment.email }}
                  {{ comment.createdAt }}
            </div>
          </div> -->
    </v-card>
  </v-layout>
</template>
<script>
import ArticleCommentService from '@/services/ArticleCommentService'
import RecipeCommentService from '@/services/RecipeCommentService'
import ArticlesService from '@/services/ArticlesService'
import RecipesService from '@/services/RecipesService'
import store from '@/store/store'
export default {
  data () {
    return {
      rowsPerPageItems: [4, 8, 12],
      pagination: {
        rowsPerPage: 4
      },
      search: '',
      searcharticle: '',
      headers: [
        {
          text: 'Title',
          align: 'left',
          value: 'title'
        },
        { text: 'Comment', value: 'comment', sortable: false },
        { text: 'Posted By', value: 'email' },
        { text: 'Posted On', value: 'createdAt' }
      ],
      articleComments: [],
      recipeComments: [],
      articles: [],
      recipes: []
    }
  },
  async mounted () {
    this.articleComments = (await ArticleCommentService.index()).data.reverse().filter(checkAuthor)
    this.recipeComments = (await RecipeCommentService.index()).data.reverse().filter(checkChef)
    this.articles = (await ArticlesService.index()).data.reverse()
    this.recipes = (await RecipesService.index()).data.reverse()

    function checkAuthor (data) {
      return data.author === store.state.user.email
    }
    function checkChef (data) {
      return data.author === store.state.user.email
    }
  }
}
</script>
<style scoped>
h2{
  color: #558B2F;
}
#layoutForm{
  padding-left:5%;
  padding-right:5%;
}
</style>
