<template>
  <v-layout id="layoutForm" row>
    <v-flex class="my-3">
      <div id="buttonsInput">
      <br>
      <v-btn
          block
          id="btnUsers"
          class="light-green lighten-3"
          @click="showUsers">
          Users
        </v-btn>
        <v-btn
          block
          id="btnRecipes"
          class="light-green lighten-3"
          @click="showRecipes">
          Recipes
        </v-btn>
         <v-btn
          block
          id="btnArticles"
          class="light-green lighten-3"
          @click="showArticles">
          Articles
        </v-btn>
        <v-btn
          block
          id="btnComments"
          class="light-green lighten-3"
          @click="showComments">
          Comments
        </v-btn>
        <v-btn
          block
          id="btnStatistics"
          class="light-green lighten-3"
          @click="showStatistics">
          Statistics
        </v-btn>
      </div>
      <div v-if="seenUsers" class="dataTable">
        <search-users-panel class="dataPanelRight"></search-users-panel>
        </div>
      <div v-if="seenRecipes" class="dataTable">
        <search-recipes-panel class="dataPanelRight"></search-recipes-panel>
      </div>
      <div v-if="seenArticles" class="dataTable">
        <search-articles-panel class="dataPanelRight"></search-articles-panel>
      </div>
      <div v-if="seenStatistics" class="dataTable">
        <search-statistics-panel class="dataPanelRight"></search-statistics-panel>
      </div>
      <div v-if="seenComments" class="dataTable">
        <search-comments-panel class="dataPanelRight"></search-comments-panel>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import SearchUsersPanel from './SearchUsersPanel'
import SearchRecipesPanel from './SearchRecipesPanel'
import SearchArticlesPanel from './SearchArticlesPanel'
import SearchStatisticsPanel from './SearchStatisticsPanel'
import SearchCommentsPanel from './SearchCommentsPanel'
export default {
  watch: {
    async admin () {
      if (!this.isUserLoggedIn) {
        return
      }
      console.log(this.isUserLoggedIn)
    }
  },
  methods: {
    showArticles () {
      this.seenUsers = false
      this.seenArticles = true
      this.seenRecipes = false
      this.seenComments = false
      this.showStatistics = false
    },
    showRecipes () {
      this.seenUsers = false
      this.seenArticles = false
      this.seenRecipes = true
      this.seenComments = false
      this.seenStatistics = false
    },
    showUsers () {
      this.seenUsers = true
      this.seenArticles = false
      this.seenRecipes = false
      this.seenComments = false
      this.seenStatistics = false
    },
    showComments () {
      this.seenUsers = false
      this.seenArticles = false
      this.seenRecipes = false
      this.seenComments = true
      this.seenStatistics = false
    },
    showStatistics () {
      this.seenUsers = false
      this.seenArticles = false
      this.seenRecipes = false
      this.seenComments = false
      this.seenStatistics = true
    }
  },
  components: {
    SearchUsersPanel,
    SearchRecipesPanel,
    SearchArticlesPanel,
    SearchCommentsPanel,
    SearchStatisticsPanel
  },
  data () {
    return {
      seenArticles: false,
      seenRecipes: false,
      seenUsers: true,
      seenStatistics: false,
      seenComments: false
    }
  }
}
</script>
<style scoped>
#buttonsInput{
  float:left;
  width: 10%;
}
.dataPanelRight{
  float:right;
  width: 90%;
}
</style>
