<template>
  <panel id="leftAreaArticles">
    <v-card>
      <v-card-title>
       <h3>HeyVeggie - Articles</h3>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search between articles"
          single-line
          hide-details>
        </v-text-field>
      </v-card-title>
      <v-data-table
        id="articleTable"
        :headers="headers"
        :items="articles"
        :search="search"
        class="elevation-1">
        <template slot="items" slot-scope="props">
          <td class="text-xs-left">
            <v-btn flat :to="{ name: 'article',  params: { articleId: props.item.id }}">
              {{props.item.title}}
            </v-btn>
          </td>
          <td class="text-xs-left">
              <v-btn flat :to="{ name: 'user',  params: { userId: props.item.id }}">
                {{ props.item.author }}
              </v-btn>
          </td>

          <v-edit-dialog
            :return-value.sync="props.item.approved"
            lazy
            @save="save"
            @cancel="cancel"
            @open="open"
            @close="close"
          > {{ props.item.approved }}
            <v-text-field
              slot="input"
              v-model="props.item.approved"
              :rules="[max5chars]"
              label="true, false"
              single-line
              counter
            ></v-text-field>
          </v-edit-dialog>
          <td class="text-xs-left"><a><i class="fa fa-trash" id="{props.item.id}" aria-hidden="true"></i></a></td>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
      <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
      {{ snackText }}
      <v-btn flat @click="snack = false">Close</v-btn>
    </v-snackbar>
    </v-card>
  </panel>
</template>
<script>
import ArticlesService from '@/services/ArticlesService'
export default {
  data () {
    return {
      snack: false,
      snackColor: '',
      snackText: '',
      max5chars: (v) => v.length <= 5 || 'Input too long!',
      search: '',
      headers: [
        {
          text: 'Title',
          align: 'left',
          value: 'title'
        },
        { text: 'Author', value: 'author' },
        { text: 'Approved', value: 'approved' },
        { text: 'Delete', value: 'delete', sortable: false }
      ],
      articles: []
    }
  },
  methods: {
    /*   getArticleSrc (img) {
      return img ? require(`../../assets/articleImage/${img}`) : ''
    } */
    save () {
      this.snack = true
      this.snackColor = 'success'
      this.snackText = 'Data saved'
    },
    cancel () {
      this.snack = true
      this.snackColor = 'error'
      this.snackText = 'Canceled'
    },
    open () {
      this.snack = true
      this.snackColor = 'info'
      this.snackText = 'Dialog opened'
    },
    close () {
      console.log('Dialog closed')
    }
  },
  watch: {
    '$route.query.search': {
      immediate: true,
      async handler (value) {
        this.articles = (await ArticlesService.index(value)).data
      }
    }
  }
}
</script>
<style scoped>
h3{
  color: #558B2F;
}
</style>
