<template>
  <panel id="leftAreaUsers">
    <v-card>
      <v-card-title>
         <h3>HeyVeggie - Users</h3>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="searchUsers"
          append-icon="search"
          label="Search between users"
          single-line
          hide-details>
        </v-text-field>
      </v-card-title>
      <v-data-table
        id="adminTable"
        :headers="headers"
        :items="users"
        :search="searchUsers"
        class="elevation-1">
        <template slot="items" slot-scope="props">
          <td class="text-xs-left">
            <img :src="getSrc(props.item.avatar)"/>
          </td>
          <td class="text-xs-left">
            <v-btn flat :to="{ name: 'user',  params: { userId: props.item.id }}">
              {{ props.item.email }}
            </v-btn>
          </td>
          <td class="text-xs-left"><a><i class="fa fa-envelope" id="{props.item.id}" aria-hidden="true"></i></a> {{ props.item.username }}</td>
         <!--  <td class="text-xs-left">{{ props.item.role }}</td> -->
            <v-edit-dialog
            :return-value.sync="props.item.role"
            lazy
            @save="save"
            @cancel="cancel"
            @open="open"
            @close="close"
          > {{ props.item.role }}
            <v-text-field
              slot="input"
              v-model="props.item.role"
              :rules="[max6chars]"
              label="member, chef, admin"
              single-line
              counter
            ></v-text-field>
          </v-edit-dialog>
          <td class="text-xs-left"><a><i class="fa fa-trash" id="{props.item.id}" aria-hidden="true"></i></a></td>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ searchUsers }}" found no results.
        </v-alert>
      </v-data-table>
      <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
        {{ snackText }}
        <v-btn flat @click="snack = false">Close</v-btn>
      </v-snackbar>
    </v-card>
  </panel>
</template>
<script>
import UsersService from '@/services/UsersService'
export default {
  data () {
    return {
      snack: false,
      snackColor: '',
      snackText: '',
      max6chars: (v) => v.length <= 6 || 'Input too long!',
      searchUsers: '',
      headers: [
        {
          text: 'Avatar',
          align: 'left',
          sortable: false,
          value: 'avatar'
        },
        { text: 'Email', value: 'email' },
        { text: 'User Name', value: 'username' },
        { text: 'Role', value: 'role' },
        { text: 'Delete', value: 'delete', sortable: false }
      ],
      users: []
    }
  },
  methods: {
    getSrc (img) {
      return img ? require(`../../assets/avatars/${img}`) : ''
    },
    save () {
      this.snack = true
      this.snackColor = 'success'
      this.snackText = 'Data saved'
    },
    cancel () {
      this.snack = true
      this.snackColor = 'error'
      this.snackText = 'Canceled'
    },
    open () {
      this.snack = true
      this.snackColor = 'info'
      this.snackText = 'Dialog opened'
    },
    close () {
      console.log('Dialog closed')
    }
  },
  watch: {
    '$route.query.searchUsers': {
      immediate: true,
      async handler (value) {
        this.users = (await UsersService.index(value)).data
      }
    }
  }
}
</script>
<style scoped>
img{
  width: 50px;
}
h3{
  color: #558B2F;
}
</style>
