<template>
  <panel id="leftAreaArticles">
    <v-layout child-flex>
    <v-card>
      <v-card-title>
       <h3>HeyVeggie - Article Comments</h3>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="seracharticle"
          append-icon="search"
          label="Search between comments"
          single-line
          hide-details>
        </v-text-field>
      </v-card-title>
      <v-data-table
        id="articleTable"
        :headers="headers"
        :items="articleComments"
        :search="seracharticle"
        class="elevation-1">
        <template slot="items" slot-scope="props">
          <td class="text-xs-left">
               <v-btn flat :to="{ name: 'article',  params: { articleId: props.item.articleId }}">
               {{props.item.comment}}
             </v-btn>
         </td>
          <td class="text-xs-right">{{ props.item.email }} | {{props.item.createdAt  | moment("MMMM Do, h:mm")}} | <a><i class="fa fa-trash" id="{props.item.id}" aria-hidden="true"></i></a></td>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ seracharticle }}" found no results.
        </v-alert>
      </v-data-table>
      <v-spacer></v-spacer>
      <v-card-title>
        <h3>HeyVeggie - Recipe Comments</h3>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search between comments"
          single-line
          hide-details>
        </v-text-field>
      </v-card-title>
      <v-data-table
        id="recipeTable"
        :headers="headers"
        :items="recipeComments"
        :search="search"
        class="elevation-1">
        <template slot="items" slot-scope="props">
          <td class="text-xs-left">
               <v-btn flat :to="{ name: 'recipe',  params: { recipeId: props.item.recipeId }}">
                {{props.item.text}}
               </v-btn>
          </td>
          <td class="text-xs-right">{{ props.item.email }} | {{props.item.createdAt  | moment("MMMM Do, h:mm")}} | <a><i class="fa fa-trash" id="{props.item.id}" aria-hidden="true"></i></a></td>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-card>
    </v-layout>
  </panel>
</template>

<script>
import ArticleCommentService from '@/services/ArticleCommentService'
import RecipeCommentService from '@/services/RecipeCommentService'
export default {
  data () {
    return {
      search: '',
      seracharticle: '',
      headers: [
        { text: 'Comment', align: 'left', value: 'comment', sortable: false },
        { text: 'Delete', align: 'right', value: 'delete', sortable: false }
      ],
      articleComments: [],
      recipeComments: []
    }
  },
  watch: {
    '$route.query.search': {
      immediate: true,
      async handler (value) {
        this.recipeComments = (await RecipeCommentService.index(value)).data
      }
    },
    '$route.query.seracharticle': {
      immediate: true,
      async handler (value) {
        this.articleComments = (await ArticleCommentService.index(value)).data
      }
    }
  }
}
</script>
<style scoped>
h3{
  color: #558B2F;
}
</style>
