 <template>
  <panel id="chefInfo" title="Ars poetica in the kitchen">
    <br>
      <p id="arspoetica">{{$store.state.user.arspoetica}}</p>
      <div>
        <h6 class="headline font-weight-thin">My Recipes</h6>
        <v-container fluid grid-list-md>
        <v-data-iterator :items="recipes" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination" content-tag="v-layout" row wrap>
          <v-flex slot="item" slot-scope="props" xs12 sm6 md4 lg3>
            <v-card class="recipe" :to="{ name: 'recipe',  params: { recipeId: props.item.id }}">
              <v-card-media
                class="album-image" :src="props.item.pictureURL"
                height="200px">
              </v-card-media>
              <v-card-title primary-title >
                <div class="body">
                  <div class="title"><p>{{props.item.title}}</p></div>
                </div>
              </v-card-title>
            </v-card>
            </v-flex>
          </v-data-iterator>
        </v-container>
      </div>
      <div>
        <h6 class="headline font-weight-thin">My Articles</h6>
        <v-container fluid grid-list-md>
        <v-data-iterator :items="articles" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination" content-tag="v-layout" row wrap>
          <v-flex slot="item" slot-scope="props" xs12 sm6 md4 lg3>
            <v-card class="article"  :to="{ name: 'article',  params: { articleId: props.item.id }}">
              <v-card-media
                class="album-image" :src="props.item.picture2URL"
                height="200px">
                </v-card-media>
                  <v-card-title primary-title>
                    <div class="body">
                      <div class="title"><p>{{props.item.title}}</p></div>
                    </div>
                  </v-card-title>
                </v-card>
              </v-flex>
            </v-data-iterator>
          </v-container>
      </div>
    </panel>
</template>

<script>
import ArticlesService from '@/services/ArticlesService'
import RecipesService from '@/services/RecipesService'
import store from '@/store/store'
import Panel from '@/components/Panel'
export default {
  components: {
    Panel
  },
  data: () => ({
    show: false,
    recipes: [],
    articles: [],
    rowsPerPageItems: [4, 8, 12],
    pagination: {
      rowsPerPage: 4
    }
  }),
  async mounted () {
    this.articles = (await ArticlesService.index()).data.reverse().filter(checkAuthor)
    console.log('articles', this.articles)
    this.recipes = (await RecipesService.index()).data.reverse().filter(checkChef)
    console.log('recipes', this.recipes)
    console.log(store.state.user.arspoetica)

    function checkAuthor (data) {
      return data.author === store.state.user.email
    }
    function checkChef (data) {
      return data.chef === store.state.user.email
    }
  }
}
</script>

<style scoped>
#front-picture{
  width: 72%;
   margin-top:-100px;;
}
 #heyVeggie{
  float:left;
  margin-top:220px;
}
.body{
  height: 80px;
  overflow: hidden;
}
#arspoetica{
  font-size: 16px;
  text-align: left;
  padding: 10px;
  padding-bottom: 30px;
  color: grey;
}
</style>
