<template>
  <panel title="Edit Profile">
    <br><br>
    <div id="buttonsInput">
      <br>
      <v-btn
        block
        id="btnChangePassword"
        class="light-green lighten-3"
        @click="changePassword">
        Change Password
      </v-btn>
      <v-btn
        block
        v-if="$store.state.user.role != 'admin'"
        id="btnUploadPicture"
        class="light-green lighten-3"
        @click="uploadPicture">
        Upload Picture
      </v-btn>
      <v-btn id="btnWannaChef"
        block
        v-if="$store.state.user.role =='member'"
        class="light-green lighten-3"
        @click="beChef">
        Be a Chef
      </v-btn>
      <v-btn
        block
        id="btnSave"
        class="light-green lighten-3"
        @click="save">
        Save
      </v-btn>
    </div>
    <div id="textInput">
      <v-text-field
        label="username"
        autofocus
        v-model="user.username"
      ></v-text-field>
      <v-text-field
        v-if="$store.state.user.role != 'admin'"
        label="about"
        multi-line
        v-model="user.about"
      ></v-text-field>
      <v-text-field
        v-if="$store.state.user.role == 'chef'"
        label="arspoetica"
        multi-line
        v-model="user.arspoetica"
      ></v-text-field>
    </div>
  </panel>
</template>

<script>
import Panel from '@/components/Panel'
export default {
  components: {
    Panel
  },
  watch: {
    async message () {
      if (!this.isUserLoggedIn) {
        return
      }
      console.log(this.isUserLoggedIn)
    }
  },
  data () {
    return {
      user: {
        username: null,
        arspoetica: null,
        about: null,
        password: null,
        role: null
      }
    }
  }
}
</script>
<style scoped>
#buttonsInput{
  float:left;
  width: 25%;
}
#textInput{
  float:right;
  width: 70%;
  height: 549px;
  margin-right: 5px;
}
#btnChangePassword, #btnUploadPicture, #btnWannaChef, #btnSave{
  margin:10px;
}
</style>
