<template>
  <v-layout id="layoutForm" row>
    <v-flex>
      <profile-panel></profile-panel>
      <chef-profile id="chefProfile" v-if="$store.state.user.role == 'chef'"></chef-profile>
       <br><br>
    </v-flex>
  </v-layout>
</template>
<script>
import ProfilePanel from './ProfilePanel'
import ChefProfile from './ChefProfile'
export default {
  components: {
    ProfilePanel,
    ChefProfile
  },
  watch: {
    async message () {
      if (!this.isUserLoggedIn) {
        return
      }
      console.log(this.isUserLoggedIn)
    }
  }
}
</script>
<style scoped>
#chefProfile{
  margin-top:680px;
}
</style>
