<template>
  <div>
    <panel title="User information" id="info">
      <v-layout align-start justify-start>
        <img :src="getSrc($store.state.user.avatar)">
      </v-layout>
      <br>
      <v-layout>
        <h3>
          <ul>
            <li class="subheading">username: {{$store.state.user.username}}</li>
            <li class="subheading">e-mail: {{$store.state.user.email}}</li>
            <li class="subheading">access: {{$store.state.user.role}}</li>
          </ul>
        </h3>
        <br><br><br><br>
      </v-layout>
      <hr><br>
      <v-layout id="about" v-if="$store.state.user.role !='admin'">
        <p class="text-xs-center">"{{$store.state.user.about}}"</p>
      </v-layout>
    </panel>
    <edit-profile-panel id="editBox"></edit-profile-panel>
  </div>
</template>

<script>
import Panel from '@/components/Panel'
import EditProfilePanel from './EditProfilePanel'
export default {
  components: {
    EditProfilePanel,
    Panel
  },
  methods: {
    getSrc (img) {
      return img ? require(`../../assets/avatars/${img}`) : ''
    }
  },
  watch: {
    async message () {
      if (!this.isUserLoggedIn) {
        return
      }
      console.log(this.isUserLoggedIn)
    }
  }
}
</script>
<style scoped>
#info{
  font-size: 16px;
  text-align: left;
  padding-bottom: 30px;
  color: grey;
  float:left;
  width:28%;
}
img{
  width: 90%;
  padding: 10px;
}
#editBox{
  float: right;
  width: 70%;
}
</style>
