<template>
       <panel>
           <v-data-iterator
            :items="articles"
            :rows-per-page-items="rowsPerPageItems"
            :pagination.sync="pagination"
            content-tag="v-layout"
            row
            wrap
          >
            <v-flex
              slot="item"
              slot-scope="props"
              xs12
              sm6
              md4
              lg3
            >
            <v-card class="article" :to="{ name: 'article',  params: { articleId: props.item.id }}">
              <v-card-media
                class="album-image" :src="props.item.picture2URL"
                height="200px">
              </v-card-media>
              <v-card-title primary-title>
                <div class="flex-parent">
                  <div class="headline"><p>{{props.item.title}}</p></div>
                  <span class="grey--text">Author: {{props.item.author}}<br>{{props.item.createdAt  | moment("MMMM Do YYYY, h:mm")}} </span><br><br>
                  <div class="flex-child"><p>{{props.item.smallText}}</p></div>
                </div>
              </v-card-title>
            </v-card>
            </v-flex>
          </v-data-iterator>
      </panel>
</template>

<script>
import ArticlesService from '@/services/ArticlesService'

export default {
  data () {
    return {
      show: false,
      articles: [],
      rowsPerPageItems: [5, 10, 20],
      pagination: {
        rowsPerPage: 20
      }
    }
  },
  watch: {
    '$route.query.search': {
      immediate: true,
      async handler (value) {
        this.articles = (await ArticlesService.index(value)).data
      }
    }
  }
}
</script>
<style scoped>
  .headline{
  color: #33691E;
}

.article{
  margin: 10px;
  width: 300px;
}

.flex-parent{
  height: 200px;
  overflow: hidden;
}
.flex-child > p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width:0;
}
.flex-child > p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width:0;
}
</style>
