<template>
  <panel>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search article by title, author, or keyword">
    </v-text-field>
  </panel>
</template>
<script>
import _ from 'lodash'

export default {
  data () {
    return {
      search: ''
    }
  },
  watch: {
    search: _.debounce(async function (value) {
      const route = {
        name: 'articles'
      }
      if (this.search !== '') {
        route.query = {
          search: this.search
        }
      }
      this.$router.push(route)
    }, 700),
    '$route.query.search': {
      immediate: true,
      handler (value) {
        this.search = value
      }
    }
  }
}
</script>
<style scoped>
</style>
