<template>
<v-layout id="layoutForm" row>
    <v-flex class="my-3">
      <articles-search-panel>
      </articles-search-panel>
      <articles-panel>
      </articles-panel>
    </v-flex>
  </v-layout>
</template>

<script>
import ArticlesPanel from './ArticlesPanel'
import ArticlesSearchPanel from './ArticlesSearchPanel'

export default {
  components: {
    ArticlesPanel,
    ArticlesSearchPanel
  },
  data () {
    return {
      articles: []
    }
  }
}
</script>
<style scoped>
  .headline{
  color: #33691E;
}

.article{
  margin: 10px;
  width: 300px;
}
</style>
