<template>
    <div>
          <h1 class="display-5 font-weight-thin">{{title}}</h1>
          <slot name="action" />
          <div class="pl-4 pr-4 pb-2 pt-2">
            <slot>
                No slot content defined.
            </slot>
        </div>
      </div>
</template>
<script>
export default {
  props: [
    'title'
  ]
}
</script>
<style scoped>
h1{
  font-size: 2.5em;
  margin-bottom: 25px;
  color: #689F38;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
</style>
