<template>
  <panel>
    <v-textarea
      solo
      :rules="[required]"
      name="input-7-4"
      v-model="articleComment.comment"
      label="leave comment"
    ></v-textarea>
    <v-btn
      id="btnComment"
      class="light-green lighten-3"
      @click="create">
      Post Comment
    </v-btn>
    <v-alert
      class="ml-4"
      :value="error"
      transition="scale-transition"
      error>
      {{error}}
    </v-alert>
  </panel>
</template>
<script>
import ArticleCommentService from '@/services/ArticleCommentService'
import Store from '@/store/store'
export default {
  props: [
    'articleComments'
  ],
  data () {
    return {
      aId: {},
      article: {},
      rowsPerPageItems: [4, 8, 12],
      pagination: {
        rowsPerPage: 4
      },
      articleComment: {
        comment: null,
        email: Store.state.user.email,
        articleId: this.$store.state.route.params.articleId,
        title: 'm',
        author: 'm'
      },
      error: null,
      required: (value) => !!value || 'Required.'
    }
  },
  watch: {
    async create () {
      if (!this.isUserLoggedIn) {
        return
      }
      console.log(this.isUserLoggedIn)
    }
  },
  async mounted () {
    this.aId = this.$store.state.route.params.articleId
    this.articleComments = (await ArticleCommentService.index()).data
  },
  methods: {
    async create () {
      this.error = null
      const areAllFieldsFilledIn = Object
        .keys(this.articleComment)
        .every(key => !!this.articleComment[key])
      if (!areAllFieldsFilledIn) {
        this.error = 'Please fill in all the required fields.'
        return
      }
      try {
        await ArticleCommentService.post(this.articleComment)
        this.$router.push({
          name: 'articles'
        })
      } catch (err) {
        console.log(err)
      }
    }
  }
}
</script>
<style scoped>
#btnComment{
  float:right;
}
</style>
