<template>
  <div id="container">
    <v-flex md12 xs12>
      <div class="album-image">
        <img id="imgOnTop" :src="article.picture1URL" />
      </div>
    </v-flex>
    <v-flex xs12>
      <h1 class='article-title'>{{article.title}}</h1>
      <p class='article-author'>By: {{article.author}}</p>
      <strong><p id="smallText">{{article.smallText}}</p></strong>
      <img id="imgBottom" :src="article.picture2URL" />
      <p>{{article.articleText}}</p>
      <p>{{article.articleText2}}</p>
      <p>{{article.articleText3}}</p>
      <p>{{article.articleText4}}</p>
      <p>{{article.articleText5}}</p>
      <p>{{article.createdAt  | moment("MMMM Do YYYY, h:mm")}}</p>
    </v-flex>
      <v-flex id="comments">
        <article-comment-panel :articleComment="articleComment" co v-if="$store.state.isUserLoggedIn"></article-comment-panel>
        <br><br><br>
        <show-comments-panel></show-comments-panel>
      </v-flex>
  </div>
</template>

<script>
import ShowCommentsPanel from './ShowCommentsPanel'
import ArticleCommentPanel from './ArticleCommentPanel'
import ArticlesService from '@/services/ArticlesService'

export default {
  data () {
    return {
      article: {}
    }
  },
  components: {
    ArticleCommentPanel,
    ShowCommentsPanel
  },
  async mounted () {
    const articleId = this.$store.state.route.params.articleId
    this.article = (await ArticlesService.show(articleId)).data
  }
}
</script>
<style scoped>
#comments{
margin-top: 120px;
margin-bottom: 100px;
}
#container{
  padding-top: 90px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  overflow: auto;
  margin-bottom: 100px;
}
h1{
  font-size: 2.5em;
  padding: 30px;
}
#smallText{
  font-size: 14px;
  text-align: justify;
}
p{
  text-align: justify;
}
#imgOnTop{
   width: 100%;
   margin-top: -20%;
}
.album-image{
  width: 100%;
  max-height: 350px;
  margin-bottom: 20px;
  overflow: hidden;
}
#imgBottom{
  width: 40%;
  margin-right: 30px;
  margin-bottom: 20px;
  float:left;
}
</style>
