<template>
  <panel>
    <v-data-iterator
      :items="articleComments"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
      content-tag="v-layout"
      hide-actions
      row
      wrap>
      <v-toolbar slot="header" class="mb-2" >
        <v-toolbar-title>Comments: </v-toolbar-title>
      </v-toolbar>
      <v-flex slot="item" slot-scope="props" xs12>
        <v-card>
          <v-list dense>
            <v-list-tile xs12 v-if="aId == props.item.articleId " >
              <v-list-tile-content>{{ props.item.comment }}</v-list-tile-content>
              <v-list-tile-content class="align-end">  {{ props.item.email }} | {{ props.item.createdAt | moment("from", "now", true) }}</v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-flex>
    </v-data-iterator>
  </panel>
</template>
<script>
import ArticleCommentService from '@/services/ArticleCommentService'
export default {
  data () {
    return {
      rowsPerPageItems: [4, 8, 12],
      pagination: {
        rowsPerPage: 25
      },
      articleComments: []
    }
  },
  async mounted () {
    this.aId = this.$store.state.route.params.articleId
    this.articleComments = (await ArticleCommentService.index()).data.reverse()
  }
}
</script>
<style scoped>
#btnComment{
  float:right;
}
</style>
