<template>
  <panel>
    <v-data-iterator
      :items="cuisine"
      hide-actions
    >
      <v-flex v-if="recipe.cuisine_id == props.item.id" slot="item" slot-scope="props" xs12>
        <p class="text-xs-right">cuisine: {{ props.item.type }}</p>
      </v-flex>
    </v-data-iterator>
  </panel>
</template>
<script>
import CuisineService from '@/services/CuisineService'
import RecipesService from '@/services/RecipesService'
export default {
  data () {
    return {
      recipe: {},
      cuisine: []
    }
  },
  async mounted () {
    const recipeId = this.$store.state.route.params.recipeId
    this.recipe = (await RecipesService.show(recipeId)).data
    this.cuisine = (await CuisineService.index()).data
  }
}
</script>
<style scoped>
</style>
