<template>
  <div id="container">
      <v-flex md12 xs12>
        <div class="album-image">
          <img :src="recipe.pictureURL" />
        </div>
      </v-flex>
        <v-flex xs12 md4 class=recipeMetadata>
          <ingredients-panel></ingredients-panel>
<!--           <nutritional-info-panel></nutritional-info-panel>
 -->        </v-flex>
        <v-flex class="description" xs12 md8>
          <h1 class='recipe-title'>{{recipe.title}}</h1>
          <p class="text-xs-left">
          Preparation time: {{recipe.time}} min |  Serves: {{recipe.serves}}
          </p>
          <p><strong>{{recipe.description}}</strong></p>
          <p v-if="recipe.description2 != null">{{recipe.description2}}</p>
          <p v-if="recipe.description3 != null">{{recipe.description3}}</p>
          <strong><ol>
            <li v-if="recipe.step1 != null"><p>{{recipe.step1}}</p></li>
            <li v-if="recipe.step2 != null"><p>{{recipe.step2}}</p></li>
            <li v-if="recipe.step3 != null"><p>{{recipe.step3}}</p></li>
            <li v-if="recipe.step4 != null"><p>{{recipe.step4}}</p></li>
            <li v-if="recipe.step5 != null"><p>{{recipe.step5}}</p></li>
            <li v-if="recipe.step6 != null"><p>{{recipe.step6}}</p></li>
            <li v-if="recipe.step7 != null"><p>{{recipe.step7}}</p></li>
            <li v-if="recipe.step8 != null"><p>{{recipe.step8}}</p></li>
            <li v-if="recipe.step9 != null"><p>{{recipe.step9}}</p></li>
            <li v-if="recipe.step10 != null"><p>{{recipe.step10}}</p></li>
            <li v-if="recipe.step11 != null"><p>{{recipe.step11}}</p></li>
            <li v-if="recipe.step12 != null"><p>{{recipe.step12}}</p></li>
          </ol></strong>
          <p>By: {{recipe.chef}}</p>
          <br><br>
        </v-flex>
        <v-flex xs12>
          <recipe-video-panel id="video"></recipe-video-panel>
          <recipe-comment-panel v-if="$store.state.isUserLoggedIn"></recipe-comment-panel>
          <br><br><br>
          <show-comments-panel></show-comments-panel>
          <br><br><br>
        </v-flex>
  </div>
</template>
<script>
import ShowCommentsPanel from './ShowCommentsPanel'
import RecipeCommentPanel from './RecipeCommentPanel'
import IngredientsPanel from './IngredientsPanel'
import RecipeVideoPanel from './RecipeVideoPanel'
import CuisinePanel from './CuisinePanel'
import NutritionalInfoPanel from './NutritionalInfoPanel'
import RecipesService from '@/services/RecipesService'
export default {
  data () {
    return {
      recipe: {}
    }
  },
  components: {
    IngredientsPanel,
    RecipeCommentPanel,
    RecipeVideoPanel,
    NutritionalInfoPanel,
    CuisinePanel,
    ShowCommentsPanel
  },
  async mounted () {
    const recipeId = this.$store.state.route.params.recipeId
    this.recipe = (await RecipesService.show(recipeId)).data
  }
}
</script>
<style scoped>
#container{
  padding-top: 90px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  overflow: auto;
  margin-bottom: 100px;
}
h1{
  font-size: 2.5em;
  padding-top: 30px;
}
p{
  text-align: justify;
}
.recipeMetadata{
  float:left;
  margin-top: 40px;
  margin-bottom: 100px;
}
.description{
  float:right;
}
img{
   width: 100%;
   margin-top: -30%;
}
.album-image{
  width: 100%;
  max-height: 350px;
  margin-bottom: 20px;
  overflow: hidden;
}
</style>
