<template>
  <panel>
      <v-data-iterator
        :items="ingredients"
        :rows-per-page-items="rowsPerPageItems"
        :pagination.sync="pagination"
        content-tag="v-layout"
        hide-actions
        row
        wrap
      >
        <v-toolbar slot="header" class="mb-2" >
          <v-toolbar-title>Ingredients: </v-toolbar-title>
        </v-toolbar>
        <v-flex slot="item" slot-scope="props" xs12>
          <v-card>
            <v-list dense>
              <v-list-tile v-if="recipeId == props.item.recipe_id" v-model="search">
                <v-list-tile-content id="listElement"><p><strong>{{ props.item.amountPortion }} {{ props.item.labelPortion }} - {{props.item.food}}</strong></p></v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-flex>
      </v-data-iterator>
  </panel>
</template>
<script>
import IngredientsService from '@/services/IngredientsService'
export default {
  data () {
    return {
      rowsPerPageItems: [4, 8, 12],
      pagination: {
        rowsPerPage: 4
      },
      search: {},
      ingredients: [],
      recipeId: {}
    }
  },
  async mounted () {
    this.recipeId = this.$store.state.route.params.recipeId
    this.ingredients = (await IngredientsService.index()).data
  }
}
</script>
<style scoped>
</style>
