<template>
  <panel>
    <youtube
      id="player"
      v-if="recipe.youtubeId != null"
      :video-id="recipe.youtubeId"
      :player-width="670"
      :player-height="377">
    </youtube>
    <div id="clear"></div>
  </panel>
</template>
<script>
import RecipesService from '@/services/RecipesService'
import Vue from 'vue'
import VueYouTubeEmbed from 'vue-youtube-embed'
Vue.use(VueYouTubeEmbed)
export default {
  data () {
    return {
      recipe: {}
    }
  },
  components: {
    VueYouTubeEmbed
  },
  async mounted () {
    const recipeId = this.$store.state.route.params.recipeId
    this.recipe = (await RecipesService.show(recipeId)).data
  },
  props: [
    'youtubeId'
  ]
}
</script>
<style scoped>
#player{
  float:right;
}
#clear{
  clear:both;
  height:30px;
}
</style>
