<template>
  <panel>
    <v-textarea
      solo
      :rules="[required]"
      name="input-7-4"
      v-model="comment.text"
      label="leave comment"
    ></v-textarea>
    <v-btn
      id="btnComment"
      class="light-green lighten-3"
      @click="create">
      Post Comment
    </v-btn>
     <v-alert
      class="ml-4"
      :value="error"
      transition="scale-transition"
      error>
      {{error}}
    </v-alert>
  </panel>
</template>
<script>
import RecipeCommentService from '@/services/RecipeCommentService'
import Store from '@/store/store'
export default {
  data () {
    return {
      rowsPerPageItems: [4, 8, 12],
      pagination: {
        rowsPerPage: 4
      },
      recipeComments: [],
      rId: {},
      comment: {
        text: null,
        recipeId: this.$store.state.route.params.recipeId,
        email: Store.state.user.email,
        author: 'm',
        title: 'm'
      },
      error: null,
      required: (value) => !!value || 'Required.'
    }
  },
  watch: {
    async create () {
      if (!this.isUserLoggedIn) {
        return
      }
      console.log(this.isUserLoggedIn)
    }
  },
  async mounted () {
    this.rId = this.$store.state.route.params.recipeId
    this.recipeComments = (await RecipeCommentService.index()).data
  },
  methods: {
    async create () {
      this.error = null
      const areAllFieldsFilledIn = Object
        .keys(this.comment)
        .every(key => !!this.comment[key])
      if (!areAllFieldsFilledIn) {
        this.error = 'Please fill in all the required fields.'
        return
      }
      try {
        await RecipeCommentService.post(this.comment)
        this.$router.push({
          name: 'recipes'
        })
      } catch (err) {
        console.log(err)
      }
    }
  }
}
</script>
<style scoped>
#btnComment{
  float:right;
}
</style>
