<template>
  <panel>
    <v-data-iterator
      :items="recipeComments"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
      content-tag="v-layout"
      hide-actions
      row
      wrap
    >
      <v-toolbar slot="header" class="mb-2" >
        <v-toolbar-title>Comments: </v-toolbar-title>
      </v-toolbar>
      <v-flex slot="item" slot-scope="props" xs12>
        <v-card>
          <v-list dense>
            <v-list-tile  xs12 v-if="recipeId == props.item.recipeId " >
              <v-list-tile-content >{{ props.item.text }}</v-list-tile-content>
              <v-list-tile-content class="align-end">{{ props.item.email }} | {{ props.item.createdAt | moment("from", "now", true) }}</v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-flex>
    </v-data-iterator>
  </panel>
</template>
<script>
import RecipeCommentService from '@/services/RecipeCommentService'
export default {
  data () {
    return {
      rowsPerPageItems: [4, 8, 12],
      pagination: {
        rowsPerPage: 25
      },
      recipeComments: []
    }
  },
  async mounted () {
    this.recipeId = this.$store.state.route.params.recipeId
    this.recipeComments = (await RecipeCommentService.index()).data.reverse()
  }
}
</script>
<style scoped>
#btnComment{
  float:right;
}
</style>
