
<template>
<div>
    <v-layout id="layoutForm" align-center justify-center>
      <v-flex xs2></v-flex>
        <v-flex xs8>
            <panel>
                <v-text-field
                    solo
                    label="Title"
                    v-model="article.title"
                ></v-text-field>
                <v-text-field
                  solo
                  label="Main Picture"
                  v-model="article.picture1URL"
                ></v-text-field>
                <v-text-field
                  solo
                  label="Secondary Picture"
                  v-model="article.picture2URL"
                ></v-text-field>
            </panel>
            <panel class="ml-2">
                <v-textarea
                  solo
                  label="Initial Description"
                  name="input-7-4"
                  v-model="article.smallText"
                ></v-textarea>
                <v-textarea
                  solo
                  label="1. Paragraph"
                  v-if="seenParagraph1"
                  name="input-7-4"
                  v-model="article.articleText"
                ></v-textarea>
                <v-textarea
                  solo
                  label="2. Paragraph"
                  v-if="seenParagraph2"
                  name="input-7-4"
                  v-model="article.articleText2"
                ></v-textarea>
                <v-textarea
                  solo
                  label="3. Paragraph"
                  v-if="seenParagraph3"
                  name="input-7-4"
                  v-model="article.articleText3"
                ></v-textarea>
                <v-textarea
                  solo
                  label="4. Paragraph"
                  v-if="seenParagraph4"
                  name="input-7-4"
                  v-model="article.articleText4"
                ></v-textarea>
                 <v-textarea
                  solo
                  label="5. Paragraph"
                  v-if="seenParagraph5"
                  name="input-7-4"
                  v-model="article.articleText5"
                ></v-textarea>
            </panel>
            <v-btn
              dark
              class="light-green lighten-2"
              v-on:click="counter += 1"
              v-if="counter < 5"
              @click="showParagraph">
              New Paragraph
            </v-btn>
            <v-btn
              dark
              class="light-green lighten-2"
              @click="create">
              Create Article
            </v-btn>
        </v-flex>
        <v-flex xs2></v-flex>
    </v-layout>
</div>
</template>
<script>
import ArticlesService from '@/services/ArticlesService'
import Store from '@/store/store'
export default {
  watch: {
    async create () {
      if (!this.isUserLoggedIn) {
        return
      }
      console.log(this.isUserLoggedIn)
    }
  },
  data () {
    return {
      counter: 0,
      article: {
        title: null,
        picture1URL: null,
        picture2URL: null,
        smallText: null,
        articleText: null,
        articleText2: null,
        articleText3: null,
        articleText4: null,
        articleText5: null,
        approved: false,
        author: Store.state.user.email
      },
      seenParagraph1: '',
      seenParagraph2: '',
      seenParagraph3: '',
      seenParagraph4: '',
      seenParagraph5: ''
    }
  },
  methods: {
    async create () {
      try {
        await ArticlesService.post(this.article)
        this.$router.push({
          name: 'articles'
        })
      } catch (err) {
        console.log(err)
      }
    },
    showParagraph () {
      if (this.counter === 0) {
        this.seenParagraph1 = false
        this.seenParagraph2 = false
        this.seenParagraph3 = false
        this.seenParagraph4 = false
        this.seenParagraph5 = false
      }
      if (this.counter === 1) {
        this.seenParagraph1 = true
        this.seenParagraph2 = false
        this.seenParagraph3 = false
        this.seenParagraph4 = false
        this.seenParagraph5 = false
      }
      if (this.counter === 2) {
        this.seenParagraph1 = true
        this.seenParagraph2 = true
        this.seenParagraph3 = false
        this.seenParagraph4 = false
        this.seenParagraph5 = false
      }
      if (this.counter === 3) {
        this.seenParagraph1 = true
        this.seenParagraph2 = true
        this.seenParagraph3 = true
        this.seenParagraph4 = false
        this.seenParagraph5 = false
      }
      if (this.counter === 4) {
        this.seenParagraph1 = true
        this.seenParagraph2 = true
        this.seenParagraph3 = true
        this.seenParagraph4 = true
        this.seenParagraph5 = false
      }
      if (this.counter === 5) {
        this.seenParagraph1 = true
        this.seenParagraph2 = true
        this.seenParagraph3 = true
        this.seenParagraph4 = true
        this.seenParagraph5 = true
      }
    }
  }
}
</script>
<style scoped>
  #layoutForm{
    margin-top: 120px;
    margin-bottom: 150px;
  }
</style>
