<template>
<v-layout id="layoutForm" align-center justify-center>
  <v-flex xs2></v-flex>
    <v-flex xs8>
      <v-stepper v-model="e1">
        <v-stepper-header>
          <v-stepper-step color="light-green lighten-2" :complete="e1 > 1" step="1">Title</v-stepper-step>
          <v-stepper-step color="light-green lighten-2" :complete="e1 > 2" step="2">Description</v-stepper-step>
          <v-stepper-step color="light-green lighten-2" :complete="e1 > 3" step="3">Instructions</v-stepper-step>
          <v-stepper-step color="light-green lighten-2" :complete="e1 > 4" step="4">Ingredients</v-stepper-step>
          <v-stepper-step color="light-green lighten-2" step="5">Amounts</v-stepper-step>
        </v-stepper-header>
        <v-stepper-items>
          <v-stepper-content step="1">
            <v-card>
              <v-form>
                <v-container>
                  <v-flex class="inputText" xs8>
                    <v-text-field
                      solo
                      label="Title"
                      v-model="recipe.title"
                    ></v-text-field>
                    <v-text-field
                      solo
                      label="Picture"
                      v-model="recipe.pictureURL"
                    ></v-text-field>
                     <v-text-field
                      solo
                      label="Youtube ID"
                      v-model="recipe.youtubeId"
                    ></v-text-field>
                  </v-flex>
                  <v-btn
                    dark
                    class="light-green lighten-2"
                    @click="e1 = 2">
                    Continue
                  </v-btn>
                </v-container>
              </v-form>
            </v-card>
          </v-stepper-content>
          <v-stepper-content step="2">
            <v-card>
              <v-form>
                <v-container>
                  <v-flex class="inputText" xs8>
                    <v-autocomplete
                      solo
                      v-model="recipe.cuisine"
                      :items="cuisines"
                      item-text="type"
                      item-value="type"
                      label="Cuisine">
                    </v-autocomplete>
                    <v-text-field
                      solo
                      label="Serves (only numbers)"
                      v-model="recipe.serves"
                      v-on:keypress="isNumber(event)"
                    ></v-text-field>
                    <v-text-field
                      solo
                      label="Preparation Time in minutes (only numbers)"
                      v-model="recipe.time"
                      v-on:keypress="isNumber(event)"
                    ></v-text-field>
                    <v-textarea
                      solo
                      label="Add Story"
                      name="input-7-4"
                      v-model="recipe.description"
                    ></v-textarea>
                    <v-textarea
                      solo
                      label="Add Description"
                      name="input-7-4"
                      v-if="seenParagraph2"
                      v-model="recipe.description2"
                    ></v-textarea>
                    <v-textarea
                      solo
                      label="Add Description"
                      name="input-7-4"
                      v-if="seenParagraph3"
                      v-model="recipe.description3"
                    ></v-textarea>
                    <v-btn
                      dark
                      class="light-green lighten-2"
                      @click="e1 = 1">
                      Back
                    </v-btn>
                    <v-btn
                      dark
                      class="light-green lighten-2"
                      v-on:click="counter += 1"
                      v-if="counter < 3"
                      @click="showParagraph">
                      New Paragraph
                    </v-btn>
                    <v-btn
                      dark
                      class="light-green lighten-2"
                      @click="e1 = 3">
                      Continue
                    </v-btn>
                  </v-flex>
                </v-container>
              </v-form>
            </v-card>
          </v-stepper-content>
          <v-stepper-content step="3">
            <v-card>
              <v-form>
                <v-container>
                  <v-flex class="inputText" xs8>
                    <v-textarea
                      solo
                      label="Step 1"
                      name="input-7-4"
                      v-model="recipe.step1"
                    ></v-textarea>
                    <v-textarea
                      solo
                      label="Step 2"
                      name="input-7-4"
                      v-model="recipe.step2"
                    ></v-textarea>
                    <v-textarea
                      solo
                      label="Step 3"
                      name="input-7-4"
                      v-model="recipe.step3"
                    ></v-textarea>
                    <v-textarea
                      solo
                      label="Step 4"
                      name="input-7-4"
                      v-model="recipe.step4"
                    ></v-textarea>
                    <v-textarea
                      solo
                      label="Step 5"
                      name="input-7-4"
                      v-if="seenStep5"
                      v-model="recipe.step5"
                    ></v-textarea>
                    <v-textarea
                      solo
                      label="Step 6"
                      name="input-7-4"
                      v-if="seenStep6"
                      v-model="recipe.step6"
                    ></v-textarea>
                    <v-textarea
                      solo
                      label="Step 7"
                      name="input-7-4"
                      v-if="seenStep7"
                      v-model="recipe.step7"
                    ></v-textarea>
                    <v-textarea
                      solo
                      label="Step 8"
                      name="input-7-4"
                      v-if="seenStep8"
                      v-model="recipe.step8"
                    ></v-textarea>
                    <v-textarea
                      solo
                      label="Step 9"
                      name="input-7-4"
                      v-if="seenStep9"
                      v-model="recipe.step9"
                    ></v-textarea>
                    <v-textarea
                      solo
                      label="Step 10"
                      name="input-7-4"
                      v-if="seenStep10"
                      v-model="recipe.step10"
                    ></v-textarea>
                    <v-textarea
                      solo
                      label="Step 11"
                      name="input-7-4"
                      v-if="seenStep11"
                      v-model="recipe.step11"
                    ></v-textarea>
                    <v-textarea
                      solo
                      label="Step 12"
                      name="input-7-4"
                      v-if="seenStep12"
                      v-model="recipe.step12"
                    ></v-textarea>
                    <v-btn
                      dark
                      class="light-green lighten-2"
                      @click="e1 = 2">
                      Back
                    </v-btn>
                    <v-btn
                      dark
                      class="light-green lighten-2"
                      v-on:click="stepCounter += 1"
                      v-if="stepCounter < 8"
                      @click="showSteps">
                      New Step
                    </v-btn>
                    <v-btn
                      dark
                      class="light-green lighten-2"
                      @click="e1 = 4">
                      Continue
                    </v-btn>
                  </v-flex>
                </v-container>
              </v-form>
            </v-card>
          </v-stepper-content>
          <v-stepper-content step="4">
            <v-card>
              <v-form>
                <v-container>
                            <template>
                                <v-form>
                                  <v-container>
                                    <v-layout wrap>
                                      <v-flex xs12>
                                        <v-autocomplete
                                          solo
                                          v-model="ingredients"
                                          :disabled="isUpdating"
                                          :items="foods"
                                          chips
                                          label="Select"
                                          item-text="long_desc"
                                          item-value="long_desc"
                                          multiple>
                                        <template
                                          slot="selection"
                                          slot-scope="data">
                                          <v-chip
                                            :selected="data.selected"
                                            close
                                            class="chip--select-multi"
                                            @input="remove(data.item)">
                                            {{ data.item.long_desc }}
                                          </v-chip>
                                        </template>
                                        <template
                                          slot="item"
                                          slot-scope="data">
                                      <template v-if="typeof data.item !== 'object'">
                                        <v-list-tile-content v-text="data.item"></v-list-tile-content>
                                      </template>
                                      <template v-else>
                                    <v-list-tile-content>
                                      <v-list-tile-title v-html="data.item.long_desc"></v-list-tile-title>
                                    </v-list-tile-content>
                                  </template>
                                </template>
                              </v-autocomplete>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-form>
                  </template>
                   <v-btn
                      dark
                      class="light-green lighten-2"
                      @click="e1 = 3">
                      Back
                    </v-btn>
                   <v-btn
                    dark
                    class="light-green lighten-2"
                    @click="e1 = 5">
                    Continue
                  </v-btn>
                </v-container>
              </v-form>
            </v-card>
          </v-stepper-content>
          <v-stepper-content step="5">
            <v-card>
              <v-form>
                <v-container>
                  <div v-for="i in ingredients" :key="i.id">
                    <v-layout row wrap>
                          <v-flex xs5>
                            <h3>{{i}}</h3>
                          </v-flex>
                          <v-flex class="ingredientInput" xs1>
                            <v-text-field
                              solo
                              label="0"
                              v-on:keypress="isNumber(event)"
                            ></v-text-field>
                          </v-flex>
                          <v-flex class="ingredientInput" xs5>
                            <v-autocomplete
                              solo
                              :items="weights"
                              item-text="description"
                              item-value="description"
                              label="Unit">
                            </v-autocomplete>
                          </v-flex>
                        </v-layout>
                      </div>
                    <v-btn
                      dark
                      class="light-green lighten-2"
                      @click="e1 = 4">
                      Back
                    </v-btn>
                    <v-btn
                      dark
                      class="light-green lighten-2"
                      @click="create">
                      Save
                    </v-btn>
                </v-container>
              </v-form>
            </v-card>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-flex>
  <v-flex xs2></v-flex>
</v-layout>
</template>
<script>
import IngredientsService from '@/services/IngredientsService'
import RecipesService from '@/services/RecipesService'
import CuisineService from '@/services/CuisineService'
import FoodService from '@/services/FoodService'
import WeightService from '@/services/WeightService'
import Store from '@/store/store'
export default {
  watch: {
    async create () {
      if (!this.isUserLoggedIn) {
        return
      }
      console.log(this.isUserLoggedIn)
    },
    async createIngredient () {
      if (!this.isUserLoggedIn) {
        return
      }
      console.log(this.isUserLoggedIn)
    },
    isUpdating (val) {
      if (val) {
        setTimeout(() => (this.isUpdating = false), 3000)
      }
    }
  },
  data () {
    return {
      ingredients: [],
      autoUpdate: true,
      isUpdating: false,
      seenStep5: '',
      seenStep6: '',
      seenStep7: '',
      seenStep8: '',
      seenStep9: '',
      seenStep10: '',
      seenStep11: '',
      seenStep12: '',
      seenParagraph2: '',
      seenParagraph3: '',
      food: {},
      counter: 0,
      stepCounter: 0,
      e1: 0,
      event: null,
      cuisines: [],
      foods: [],
      weights: [],
      recipe: {
        title: null,
        description: null,
        description2: null,
        description3: null,
        cuisine: null,
        pictureURL: null,
        youtubeId: null,
        serves: null,
        approved: false,
        chef: Store.state.user.email,
        time: null,
        step1: null,
        step2: null,
        step3: null,
        step4: null,
        step5: null,
        step6: null,
        step7: null,
        step8: null,
        step9: null,
        step10: null,
        step11: null,
        step12: null
      },
      ingredient: {
        food: null,
        amountPortion: null,
        labelPortion: null,
        weightInGrams: null,
        recipe_id: null,
        food_id: null
      },
      error: null,
      required: (value) => !!value || 'Required.'
    }
  },
  async mounted () {
    this.cuisines = (await CuisineService.index()).data
    this.foods = (await FoodService.index()).data
    this.weights = (await WeightService.index()).data
  },
  methods: {
    remove (item) {
      const index = this.ingredients.indexOf(item.long_desc)
      if (index >= 0) this.ingredients.splice(index, 1)
    },
    async create () {
      try {
        await RecipesService.post(this.recipe)
        this.$router.push({
          name: 'recipes'
        })
      } catch (err) {
        console.log(err)
      }
    },
    async createIngredient () {
      try {
        await IngredientsService.post(this.ingredient)
        this.$router.push({
          name: 'ingredients'
        })
      } catch (err) {
        console.log(err)
      }
    },
    isNumber: function (evt) {
      evt = window.event
      var charCode = (evt.which) ? evt.which : evt.keyCode
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault()
      } else {
        return true
      }
    },
    showParagraph () {
      if (this.counter === 0) {
        this.seenParagraph2 = false
        this.seenParagraph3 = false
      }
      if (this.counter === 1) {
        this.seenParagraph2 = true
        this.seenParagraph3 = false
      }
      if (this.counter === 2) {
        this.seenParagraph2 = true
        this.seenParagraph3 = true
      }
    },
    showSteps () {
      if (this.stepCounter === 0) {
        this.seenStep5 = false
        this.seenStep6 = false
        this.seenStep7 = false
        this.seenStep8 = false
        this.seenStep9 = false
        this.seenStep10 = false
        this.seenStep11 = false
        this.seenStep12 = false
      }
      if (this.stepCounter === 1) {
        this.seenStep5 = true
        this.seenStep6 = false
        this.seenStep7 = false
        this.seenStep8 = false
        this.seenStep9 = false
        this.seenStep10 = false
        this.seenStep11 = false
        this.seenStep12 = false
      }
      if (this.stepCounter === 2) {
        this.seenStep5 = true
        this.seenStep6 = true
        this.seenStep7 = false
        this.seenStep8 = false
        this.seenStep9 = false
        this.seenStep10 = false
        this.seenStep11 = false
        this.seenStep12 = false
      }
      if (this.stepCounter === 3) {
        this.seenStep5 = true
        this.seenStep6 = true
        this.seenStep7 = true
        this.seenStep8 = false
        this.seenStep9 = false
        this.seenStep10 = false
        this.seenStep11 = false
        this.seenStep12 = false
      }
      if (this.stepCounter === 4) {
        this.seenStep5 = true
        this.seenStep6 = true
        this.seenStep7 = true
        this.seenStep8 = true
        this.seenStep9 = false
        this.seenStep10 = false
        this.seenStep11 = false
        this.seenStep12 = false
      }
      if (this.stepCounter === 5) {
        this.seenStep5 = true
        this.seenStep6 = true
        this.seenStep7 = true
        this.seenStep8 = true
        this.seenStep9 = true
        this.seenStep10 = false
        this.seenStep11 = false
        this.seenStep12 = false
      }
      if (this.stepCounter === 6) {
        this.seenStep5 = true
        this.seenStep6 = true
        this.seenStep7 = true
        this.seenStep8 = true
        this.seenStep9 = true
        this.seenStep10 = true
        this.seenStep11 = false
        this.seenStep12 = false
      }
      if (this.stepCounter === 7) {
        this.seenStep5 = true
        this.seenStep6 = true
        this.seenStep7 = true
        this.seenStep8 = true
        this.seenStep9 = true
        this.seenStep10 = true
        this.seenStep11 = true
        this.seenStep12 = false
      }
      if (this.stepCounter === 8) {
        this.seenStep5 = true
        this.seenStep6 = true
        this.seenStep7 = true
        this.seenStep8 = true
        this.seenStep9 = true
        this.seenStep10 = true
        this.seenStep11 = true
        this.seenStep12 = true
      }
    }
  }
}
</script>
<style scoped>
  #layoutForm{
    margin-top: 120px;
    margin-bottom: 150px;
  }
  .inputText{
    margin-left: 15%;
  }
  .ingredientInput{
    padding: 5px;
  }
</style>
