<template>
  <v-footer height="auto">
    <v-card class="flex" flat tile>
      <v-card-title class="light-green lighten-4">
        <p class="subheading">Get connected with us on social networks!</p>
        <v-spacer></v-spacer>
        <v-btn
          v-for="icon in icons"
          :key="icon"
          icon>
          <v-icon size="24px">{{ icon }}</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-actions class="light-green lighten-2 justify-center">
        &copy;2018 — HeyVeggie
      </v-card-actions>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    icons: [
      'fab fa-facebook',
      'fab fa-twitter',
      'fab fa-google-plus',
      'fab fa-linkedin',
      'fab fa-instagram'
    ]
  })
}
</script>

<style scoped>
  .v-footer{
    color: #2c3e50;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    filter: alpha(opacity=80);
  }

  p{
    color:#33691E;
  }
  .v-btn--icon{
    color:#33691E;
  }
</style>
