<template>
    <v-toolbar id="toolbar" fixed class="white">
      <v-toolbar-items>
        <div id="hamburgerMenu">
            <v-menu v-if="$store.state.isUserLoggedIn" offset-y>
              <v-btn slot="activator" flat>
                <v-toolbar-side-icon class="hidden-md-and-up"></v-toolbar-side-icon>
              </v-btn>
              <v-list>
                <v-list-tile
                  v-for="(item, index) in items2"
                  :key="index"
                  :to="{name: item.route}"
                >
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </div>
        </v-toolbar-items>

        <v-toolbar-items class="hidden-sm-and-down">

          <v-btn flat :to="{name:'recipes'}">
            <h1 class="display-5 font-weight-thin">recipes</h1>
          </v-btn>

          <v-btn flat  :to="{name:'articles'}">
            <h1 class="display-5 font-weight-thin">articles</h1>
          </v-btn>

        </v-toolbar-items>

        <v-toolbar-title class="mr-4">
            <router-link class="home" tag="span"
            :to="{name:'index'}">
            <img id="logo" src="../assets/HeyVeggieLogo.png">
            </router-link>
        </v-toolbar-title>

       <v-spacer></v-spacer>

        <v-toolbar-items v-if="$store.state.isUserLoggedIn" class="hidden-sm-and-down">
          <v-btn v-if="$store.state.user.role =='admin'" flat
            :to="{name:'admin'}">
            <h1 class="display-5 font-weight-thin"> <i class="fas fa-cogs"></i></h1>
          </v-btn>
          <v-btn v-if="$store.state.user.role !='admin'" flat
            :to="{name:'cookbook'}">
            <h1 class="display-5 font-weight-thin"><i class="fa fa-book" aria-hidden="true"></i></h1>
          </v-btn>

          <div id="addNew" v-if="$store.state.user.role =='chef'" >
            <v-menu offset-y>
              <v-btn slot="activator" flat>
                <h1 class="display-5 font-weight-thin"><i class="fas fa-plus"></i></h1>
              </v-btn>
              <v-list>
                <v-list-tile
                  v-for="(item, index) in items"
                  :key="index"
                  :to="{name: item.route}"
                >
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </div>

          <v-btn flat
            :to="{name:'profile'}">
            <h1 class="display-5 font-weight-thin"><i class="fas fa-user-circle"></i> {{$store.state.user.username}}</h1>
          </v-btn>

          <v-btn flat
            v-if="$store.state.user.role =='chef'"
            :to="{name:'messages'}">
            <h1 class="display-5 font-weight-thin"><i class="fas fa-envelope"></i></h1>
          </v-btn>

        </v-toolbar-items>
        <v-toolbar-items>

          <v-btn v-if="!$store.state.isUserLoggedIn" flat
            :to="{name:'login'}">
            <h1 class="display-5 font-weight-thin"><i class="fas fa-sign-in-alt"></i></h1>
          </v-btn>

          <v-btn v-if="!$store.state.isUserLoggedIn" flat
            :to="{name:'register'}">
            <h1 class="display-5 font-weight-thin">register</h1>
          </v-btn>

          <v-btn v-if="$store.state.isUserLoggedIn" flat
            @click="logout">
            <h1 class="display-5 font-weight-thin"><i class="fas fa-sign-out-alt"></i></h1>
          </v-btn>

        </v-toolbar-items>
    </v-toolbar>
</template>

<script>
export default {
  data: () => ({
    items: [
      { title: 'New Recipe',
        route: 'recipes-create'
      },
      { title: 'New Article',
        route: 'articles-create'
      }
    ],
    items2: [
      { title: 'Recipes',
        route: 'recipes'
      },
      { title: 'Articles',
        route: 'articles'
      },
      { title: 'New Recipe',
        route: 'recipes-create'
      },
      { title: 'New Article',
        route: 'articles-create'
      },
      { title: 'Messages',
        route: 'messages'
      },
      { title: 'Profile',
        route: 'profile'
      },
      { title: 'Admin',
        route: 'admin'
      }
    ]
  }),
  methods: {
    logout () {
      this.$store.dispatch('setToken', null)
      this.$store.dispatch('setUser', null)
      this.$router.push({
        name: 'index'
      })
    }
  }
}
</script>
<style scoped>
.home {
    cursor: pointer;
}

#logo{
  position: absolute;
  left: 45%;
  top:-20px;
  width: 140px;
}

#toolbar{
  height: 110px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.v-toolbar__items{
  margin-top:60px;
}

#addNew{
  margin-top:16px;
}

</style>
