<template>
  <v-layout id="layoutForm" row>
    <v-flex class="my-3">
      <div >
        <h1 id="heyVeggie" class="text-xs-left display-3 font-weight-thin  mb-3">HeyVeggie  <i class="fas fa-chevron-down"></i></h1>
        <img id="front-picture" src="../assets/bg.jpg">
      </div>
      <div>
        <h4 id="eatSmarter" class="display-2 font-weight-thin">Eat smarter, live longer <i class="fas fa-chevron-down"></i></h4>
        <p id="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus velit nulla, faucibus ac mollis a, sodales ut ante. Curabitur et magna eu nisi tristique ultrices ut ac augue. Ut est nunc, efficitur a finibus nec, ornare non leo. In hac habitasse platea dictumst. Aliquam tellus metus, accumsan eu erat eleifend, condimentum interdum ligula. Suspendisse et mauris ac ipsum ultrices varius. Aliquam elit metus, blandit ut neque at, pellentesque hendrerit nisl. Quisque eu massa vel arcu maximus venenatis ut eget neque.</p>
      </div>
      <div>
        <h4 class="display-1 font-weight-thin">Recent Recipes <i class="fas fa-chevron-down"></i></h4>

        <v-container fluid grid-list-md>
        <v-data-iterator :items="recipes" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination" content-tag="v-layout" hide-actions row wrap>
          <v-flex slot="item" slot-scope="props" xs12 sm6 md4 lg3>
           <v-card class="recipe" :to="{ name: 'recipe',  params: { recipeId: props.item.id }}">
              <v-card-media
                class="album-image" :src="props.item.pictureURL"
                height="200px">
              </v-card-media>
              <v-card-title primary-title>
                <div class="flex-parent">
                  <div class="headline"><p>{{props.item.title}}</p></div><br>
                  <span class="grey--text">Cuisine: {{props.item.cuisine}}<br>Chef: {{props.item.chef}}<br>Calories: {{props.item.calories}}<br>{{props.item.createdAt  | moment("MMMM Do YYYY, h:mm")}}</span>
                </div>
              </v-card-title>
            </v-card>
            </v-flex>
          </v-data-iterator>
        </v-container>
      </div>
      <div>
        <h4 class="display-1 font-weight-thin">Recent Articles <i class="fas fa-chevron-down"></i></h4>

        <v-container fluid grid-list-md>
        <v-data-iterator :items="articles" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination" content-tag="v-layout" hide-actions row wrap>
          <v-flex slot="item" slot-scope="props" xs12 sm6 md4 lg3>
            <v-card class="article" :to="{ name: 'article',  params: { articleId: props.item.id }}">
              <v-card-media
                class="album-image" :src="props.item.picture2URL"
                height="200px">
                </v-card-media>
                  <v-card-title primary-title>
                    <div class="flex-parent">
                      <div class="headline"><p>{{props.item.title}}</p></div><br>
                      <span class="grey--text">Author: {{props.item.author}}<br>{{props.item.createdAt  | moment("MMMM Do YYYY, h:mm")}}<br><br></span>
                      <div class="flex-child"><p>{{props.item.smallText}}</p></div>
                    </div>
                  </v-card-title>
                </v-card>
              </v-flex>
            </v-data-iterator>
          </v-container>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import ArticlesService from '@/services/ArticlesService'
import RecipesService from '@/services/RecipesService'
export default {
  data: () => ({
    show: false,
    recipes: [],
    articles: [],
    rowsPerPageItems: [4, 8, 12],
    pagination: {
      rowsPerPage: 4
    }
  }),
  async mounted () {
    this.articles = (await ArticlesService.index()).data.reverse()
    console.log('articles', this.articles)
    this.recipes = (await RecipesService.index()).data.reverse()
    console.log('recipes', this.recipes)
  }
}
</script>

<style scoped>
#front-picture{
  width: 72%;
   margin-top:-100px;;
}
#heyVeggie{
  float:left;
  margin-top:220px;
}
h1{
   padding-top: 10px;
}
h4{
  padding-top: 100px;
  padding-bottom: 20px;
}
#about{
  padding-left: 100px;
  padding-right: 100px;
  font-size: 1.2em;
}
i{
  font-size:30px;
}
.flex-parent{
  height: 200px;
  overflow: hidden;
}
.flex-child > p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width:0;
}
</style>
