<template>
<v-parallax height="700">
  <v-layout id="loginForm" absolute align-center justify-center>
      <v-flex xs5>
        <br>
      <panel title="Login">
        <br>
        <form id="login-form">
           <v-text-field
              autofocus
              label="Email"
              v-model="email">
            </v-text-field>
          <br>
             <v-text-field
             type="password"
              label="Password"
              v-model="password">
<!--               autocomplete="new-password"
 -->            </v-text-field>
          <br>
          <div class="error" v-html="error" />
          <br>
          <v-btn class="light-green lighten-2"
            @click="login">
                Login
          </v-btn>
          <v-btn class="light-green lighten-2"
              :to="{name:'register'}">
                  No account? Sign Up!
          </v-btn>
        </form>
      </panel>
    </v-flex>
  </v-layout>
  </v-parallax>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService'
import Panel from '@/components/Panel'
export default {
  data () {
    return {
      email: '',
      password: '',
      error: null
    }
  },
  methods: {
    async login () {
      try {
        const response = await AuthenticationService.login({
          email: this.email,
          password: this.password
        })
        this.$store.dispatch('setToken', response.data.token)
        this.$store.dispatch('setUser', response.data.user)
        this.$router.push({ name: 'recipes'
        })
      } catch (error) {
        this.error = error.response.data.error
      }
    }
  },
  components: {
    Panel
  }
}
</script>

<style scoped>
  .error{
    color: black;
  }
  #loginForm{
    margin-top: 130px;
    margin-bottom: 250px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    }

  .v-parallax{
    background: url('../assets/bg6.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 10% 150%;
  }
</style>
