<template>
    <div id="box" class="white elevation-2">
        <v-toolbar flat dense class="light-green lighten-2">
          <v-toolbar-title>{{title}}</v-toolbar-title>
          <slot name="action" />
        </v-toolbar>
          <div class="pl-4 pr-4 pb-2 pt-2">
            <slot>
                No slot content defined.
            </slot>
        </div>
      </div>
</template>
<script>
export default {
  props: [
    'title'
  ]
}
</script>
<style scoped>
#box{
  margin: 10px;
}
</style>
