<template>
  <v-parallax height="700">
    <br><br><br><br>
    <v-layout id="registerForm" align-center justify-center>
      <v-flex xs5 >
        <panel title="Register">
          <br>
            <form
              name="register-form"
              autocomlete="off">
              <v-text-field
                autofocus
                label="Email"
                v-model="email">
              </v-text-field>
              <br>
              <v-text-field
                type="password"
                label="Password"
                v-model="password"
                autocomplete="new-password">
              </v-text-field>
              <br>
              <v-text-field
                label="User Name"
                v-model="username">
              </v-text-field>
            </form>
            <br>
            <div class="error" v-html="error" />
            <br>
            <v-btn class="light-green lighten-2" @click="register">Register</v-btn>
        </panel>
      </v-flex>
    </v-layout>
  </v-parallax>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService'
import Panel from '@/components/Panel'
export default {
  data () {
    return {
      email: '',
      password: '',
      username: '',
      error: null
    }
  },
  methods: {
    async register () {
      try {
        const response = await AuthenticationService.register({
          email: this.email,
          password: this.password,
          username: this.username
        })
        this.$store.dispatch('setToken', response.data.token)
        this.$store.dispatch('setUser', response.data.user)
        this.$router.push({name: 'recipes'})
      } catch (error) {
        this.error = error.response.data.error
      }
    }
  },
  components: {
    Panel
  }
}
</script>
<style scoped>
  .error{
    color: black;
  }
   #registerForm{
    margin-top: 130px;
    margin-bottom: 250px;
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
  .v-parallax{
    background: url('../assets/bg4.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 40% 220%;
  }

</style>
