<template>
<panel></panel>
</template>
<script>
import CookBookService from '@/services/CookBookService'
export default {
  data () {
    return {
      cookBooks: []
    }
  },
  async mounted () {
    this.cookBooks = await CookBookService.index()
  }
}
</script>
<style scoped>
</style>
